{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block form %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="{{url_for('functions.browse')}}">single</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('functions.parallel')}}">parallel</a>
  </li>
</ul>

  <form method="POST">
    {{form.csrf_token}}
    {{wtf.quick_form(form)}}
  </form>

  <script>
        var lang_select = document.getElementById("language1");
        var tran_select = document.getElementById("translation1");

        lang_select.onchange = function()  {

            language1 = lang_select.value;

            fetch('/translation1/' + language1).then(function(response) {

                response.json().then(function(data) {
                    var optionHTML = '';

                    for (var translation of data.translations) {
                        optionHTML += '<option value="' + translation.id + '">' + translation.translation + '</option>';
                    }

                    tran_select.innerHTML = optionHTML;
                })

            });
        }
    </script>

{% endblock %}

{% block content %}

<div class="container">
  {% if textLength == 0 %}
  <h1>The book you are looking for is not included in this translation</h1>
  {% else %}
  {% for verse in tran1Text %}
  <div class="row">
    <div class="col-2">
      <p>{{verse.title + " " + verse.chapter + ":" + verse.verse|string}}</p>
    </div>
    <div class="col">
      <p>{{verse.text}}</p>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}
