{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block head %}
  <style>
    #here {
      position: relative;
      padding-top: 75px;
    }
  </style>
{% endblock %}

{% block form %}
<ul class="nav nav-pills nav-fill">
  {% if parallelOrNot == 1 %}
    <li class="nav-item">
      <a class="nav-link active shadow text-dark text" style="background-color: #d3b577" href="{{ url_for('functions.browse', parallelOrNot=1) }}">single</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text" href="{{ url_for('functions.browse', parallelOrNot=2) }}">parallel</a>
    </li>
  {% elif parallelOrNot == 2 %}
    <li class="nav-item">
      <a class="nav-link text-white text" href="{{ url_for('functions.browse', parallelOrNot=1) }}">single</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active shadow text-dark text" style="background-color: #d3b577" href="{{ url_for('functions.browse', parallelOrNot=2) }}">parallel</a>
    </li>
  {% endif %}
</ul>

  <form method="POST">
    {{form.csrf_token}}
    {% if parallelOrNot == 1 %}

    <div class="form-group">
      <div class="form-row mt-4">

        <div class="col">
          <label for="language1" class="text">Language</label>
          <select class="selectpicker text" data-live-search="true" data-live-search-normalize="true" data-width="90px" data-style='' data-style-base='form-control form-control-sm' id="language1" name="language1">
            {% for language in languageChoices %}
              <option value="{{ language[0] }}" class="text">{{ language[1] }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col">
          <label for="translation1" class="text">Translation</label>
          <select class="selectpicker text" data-live-search="true" data-live-search-normalize="true" data-width="90px" data-style='' data-style-base='form-control form-control-sm' id="translation1" name="translation1">
          </select>
        </div>

      </div>
    </div>
    {% elif parallelOrNot == 2 %}

      <div class="form-group">
        <div class="form-row mt-4">

          <div class="col">
            <label for="language1" class="text">1 Language</label>
            <select class="selectpicker text" data-live-search="true" data-live-search-normalize="true" data-width="90px" data-style='' data-style-base='form-control form-control-sm' id="language1" name="language1">
              {% for language in languageChoices %}
                <option value="{{ language[0] }}" class="text">{{ language[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col">
            <label for="translation1" class="text">Translation</label>
            <select class="selectpicker text" data-live-search="true" data-live-search-normalize="true" data-width="90px" data-style='' data-style-base='form-control form-control-sm' id="translation1" name="translation1">
            </select>
          </div>

        </div>
      </div>
      <hr>

      <div class="form-group">
        <div class="form-row">

          <div class="col">
            <label for="language2" class="text">2 Language</label>
            <select class="selectpicker text" data-live-search="true" data-live-search-normalize="true" data-width="90px" data-style='' data-style-base='form-control form-control-sm' id="language2" name="language2">
              {% for language in languageChoices %}
                <option value="{{ language[0] }}" class="text">{{ language[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col">
            <label for="translation2" class="text">Translation</label>
            <select class="selectpicker text" data-live-search="true" data-live-search-normalize="true" data-width="90px" data-style='' data-style-base='form-control form-control-sm' id="translation2" name="translation2">
            </select>
          </div>

        </div>
      </div>
    {% endif %}
      <hr>

      <div class="form-group">
        <label for="book" class="text">Book</label>
        <select class="selectpicker text" data-live-search="true" data-live-search-normalize="true" data-width="190px" data-style='' data-style-base='form-control form-control-sm' id="book" name="book">
        </select>
      </div>
      <hr>

    <div class="form-group text">
      {{ wtf.form_field(form.submit, class="form-control form-control-sm") }}
    </div>

  </form>


  <script src="{{url_for('static', filename='scripts.js')}}"></script>
  <script>

      document.getElementById('browse').classList.add('active');

      lang_select.onchange = function() {
          populateList(lang_select, tran_select, 'translation1', lang_select.value);
      };
      tran_select.onchange = function() {
          populateList(tran_select, book_select, 'book', tran_select.value);
      };
      if (lang_select2 !== null) {
          lang_select2.onchange = function() {
          populateList(lang_select2, tran_select2, 'translation2', lang_select2.value);
          };
      };

      {% if input is defined %}
          var inputList = {{ input|safe }};
          $('#language1').selectpicker('val', inputList[0]);
          populateList(lang_select, tran_select, 'translation1', lang_select.value, [inputList[1], inputList[2]]);
          if (lang_select2 !== null) {
              $('#language2').selectpicker('val', inputList[3]);
              populateList(lang_select2, tran_select2, 'translation2', lang_select2.value, [inputList[4]]);
          }
      {% else %}
          populateList(lang_select, tran_select, 'translation1');
          if (lang_select2 !== null) {
              populateList(lang_select2, tran_select2, 'translation2');
          };
      {% endif %}
  </script>
{% endblock %}


{% block content %}

<div class="container mt-4 mb-3 text">
  {% if textLength == 0 %}
  <h1>The book you are looking for is not included in this translation</h1>
  {% else %}
  {% for verse in texts %}
  <div class="row">
    {% if parallelOrNot == 1 %}
      <div class="col-2">
        {% if verse.title + " " + verse.chapter + ":" + verse.verse|string == verseCode %}
          <p><span id='here'>{{ verse.title + " " + verse.chapter + ":" + verse.verse|string }}</span></p>
        {% else %}
          <p>{{ verse.title + " " + verse.chapter + ":" + verse.verse|string }}</p>
        {% endif %}
      </div>
      <div class="col">
        <p>{{verse.text}}</p>
      </div>
    {% elif parallelOrNot == 2 %}
      <div class="col-2">
        <p>{{verse[1] + " " + verse[2] + ":" + verse[3]|string}}</p>
      </div>
      <div class="col">
        <p>{{verse[4]}}</p>
      </div>
      <div class="col">
        <p>{{verse[5]}}</p>
      </div>
    {% endif %}
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}
