{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}

{% endblock %}

{% block form %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('functions.verseSearch')}}">single</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{url_for('functions.parallelVerseSearch')}}">parallel</a>
  </li>
</ul>

  <form method="POST">
    {{ form.csrf_token }}
    <div class="form-row">
      <div class="col">
        {{ wtf.form_field(form.language1, class="form-control form-control-sm") }}
        </div>
      <div class="col">
        {{ wtf.form_field(form.translation1, class="form-control form-control-sm") }}
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        {{ wtf.form_field(form.language2, class="form-control form-control-sm") }}
      </div>
      <div class="col">
      {{ wtf.form_field(form.translation2, class="form-control form-control-sm") }}
      </div>
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          {{ wtf.form_field(form.book, class="form-control form-control-sm") }}
        </div>
        <div class="col">
        {{ wtf.form_field(form.chapter, class="form-control form-control-sm") }}
        </div>
        <div class="col">
        {{ wtf.form_field(form.verse, class="form-control form-control-sm") }}
        </div>
      </div>
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.anotherVerse, class="form-control form control-sm") }}
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.submit, class="form-control form-control-sm") }}
    </div>
  </form>

  <script>
        var lang_select = document.getElementById("language1");
        var tran_select = document.getElementById("translation1");

        lang_select.onchange = function()  {

            language1 = lang_select.value;

            fetch('/translation1/' + language1).then(function(response) {

                response.json().then(function(data) {
                    var optionHTML = '';

                    for (var translation of data.translations) {
                        optionHTML += '<option value="' + translation.id + '">' + translation.translation + '</option>';
                    }

                    tran_select.innerHTML = optionHTML;
                })

            });
        }
    </script>
    <script>
          var lang_select2 = document.getElementById("language2");
          var tran_select2 = document.getElementById("translation2");

          lang_select2.onchange = function()  {

              language2 = lang_select2.value;

              fetch('/translation1/' + language2).then(function(response) {

                  response.json().then(function(data) {
                      var optionHTML = '';

                      for (var translation of data.translations) {
                          optionHTML += '<option value="' + translation.id + '">' + translation.translation + '</option>';
                      }

                      tran_select2.innerHTML = optionHTML;
                  })

              });
          }
      </script>
      <script>
            var tran_select = document.getElementById("translation1");
            var book_select = document.getElementById("book");

            tran_select.onchange = function()  {

                translation1 = tran_select.value;

                fetch('/book/' + translation1).then(function(response) {

                    response.json().then(function(data) {
                        var optionHTML = '';

                        for (var book of data.books) {
                            optionHTML += '<option value="' + book.id + '">' + book.book + '</option>';
                        }

                        book_select.innerHTML = optionHTML;
                    })

                });
            }
      </script>
      <script>
            var book_select = document.getElementById("book");
            var chapter_select = document.getElementById("chapter");
            var translation1_select = document.getElementById("translation1");

            book_select.onchange = function()  {

                book = book_select.value;
                translation1 = translation1_select.value;

                fetch('/chapter/' + book + '/' + translation1).then(function(response) {

                    response.json().then(function(data) {
                        var optionHTML = '';

                        for (var chapter of data.chapters) {
                            optionHTML += '<option value="' + chapter.id + '">' + chapter.chapter + '</option>';
                        }

                        chapter_select.innerHTML = optionHTML;
                    })

                });
            }
        </script>
        <script>
              var chapter_select = document.getElementById("chapter");
              var verse_select = document.getElementById("verse");
              var book_select = document.getElementById("book");
              var translation1_select = document.getElementById("translation1");

              chapter_select.onchange = function()  {

                  chapter = chapter_select.value;
                  book = book_select.value;
                  translation1 = translation1_select.value;

                  fetch('/verse/' + chapter + '/' + book + '/' + translation1).then(function(response) {

                      response.json().then(function(data) {
                          var optionHTML = '';

                          for (var verse of data.verses) {
                              optionHTML += '<option value="' + verse.id + '">' + verse.verse + '</option>';
                          }

                          verse_select.innerHTML = optionHTML;
                      })

                  });
              }
          </script>
{% endblock %}

{% block content %}
<div class="container">
  {% if anotherVerse == False %}
    {% for verse in verseToRender %}
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col">
          <p>{{ verse[3] + ": " + verse[4] }}</p>
        </div>
        <div class="col">
          <p>{{ verse[5] + ": " + verse[6] }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <p>{{ verse[0] }}</p>
        </div>
        <div class="col">
          <p>{{ verse[1] }}</p>
        </div>
        <div class="col">
          <p>{{ verse[2] }}</p>
        </div>
      </div>
      <hr>
    {% endfor %}
  {% elif anotherVerse == True %}
    <h1>The following verses will be searched for:</h1>
    {% for verse in verseToRender %}
    <div class="row">
      <div class="col-2">
        <p>{{ verse[0] + " " + verse[1]|string + ":" + verse[2]|string }}</p>
      </div>
      <div class="col">
        <p>{{ verse[3] + ": " + verse[4] }}</p>
      </div>
      <div class="col">
        <p>{{ verse[5] + ": " + verse[6] }}</p>
      </div>
    </div>
    <hr>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
