{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}


{% block form %}
  <form method="POST">
  {{form.csrf_token}}
  <div class="form-group text">
    <div class="form-row">

      <div class="col">
        <label for="language1">Language</label>
        <select class="selectpicker" data-live-search="true" data-live-search-normalize="true" data-width="90px" data-style='' data-style-base='form-control form-control-sm' id="language1" name="language1">
          {% for language in languageChoices %}
            <option value="{{ language[0] }}">{{ language[1] }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col">
        <label for="translation1">Translation</label>
        <select class="selectpicker" data-live-search="true" data-live-search-normalize="true" data-width="90px" data-style='' data-style-base='form-control form-control-sm' id="translation1" name="translation1"></select>
      </div>

    </div>
  </div>

  <div class="form-group mb-0 text">
    {{ wtf.form_field(form.search, class="form-control form-control-sm") }}
  </div>
  <div class="form-group mb-0 text">
    {{ wtf.form_field(form.caseSensitive, class="form-control form-control-sm")}}
    {{ wtf.form_field(form.searchOptions, class="form-control form-control-sm")}}
  </div>
  <div class="form-group mb-0 text">
    <div class="form-row">
      <div class="col">
        {{ wtf.form_field(form.freqMin, class="form-control form-control-sm") }}
      </div>
      <div class="col">
        {{ wtf.form_field(form.freqMax, class="form-control form-control-sm") }}
      </div>
    </div>
  </div>
  <div class="form-group mb-0 text">
    {{ wtf.form_field(form.orderOptions, class="form-control form-control-sm")}}
  </div>
  <div class="form-group text">
    {{ wtf.form_field(form.submit, class="form-control form-control-sm") }}
  </div>
  </form>

  <script src="{{url_for('static', filename='scripts.js')}}"></script>
  <script>

    document.getElementById('wordList').classList.add('active');

    lang_select.onchange = function() {
        populateList(lang_select, tran_select, 'translation1', lang_select.value);
    };

    {% if language_id is defined %}
        $('#language1').selectpicker('val', {{ language_id }});
        populateList(lang_select, tran_select, 'translation1', lang_select.value, [{{ translation_id }}]);
        if ("{{ searchOption }}" !== "all") {
            $('#wordListSearch').attr('value', {{ searchItem|tojson }});
        };
        let caseSensitive = document.getElementById('caseSensitive');
        if (caseSensitive.hasAttribute('checked').toString() != "{{ case }}".toLowerCase()) {
            caseSensitive.toggleAttribute('checked');
        };
        $('input[value="{{ searchOption }}"]').attr('checked', 'checked');
        $('input[value="{{ order }}"]').attr('checked', 'checked');
        if ({{ freqMin|tojson }} !== 0) {
            $('#freqMin').attr('value', {{ freqMin|tojson }});
        };
        if ({{ freqMax|tojson }} !== 0) {
            $('#freqMax').attr('value', {{ freqMax|tojson }});
        };
    {% else %}
        populateList(lang_select, tran_select, 'translation1');
    {% endif %}
  </script>

{% endblock %}


{% block content %}
<div class="container mt-4 mb-3 ml-1 text">
    {% if errorMessage %}
    <h1>{{ errorMessage[:5] }}</h1>
    <h3>{{ errorMessage[6:] }}</h3>
    {% else %}
    
  {% if wordsLength == 0 %}
    <h1>Sorry</h1>
    <h3>Nothing found. Please, try to change your search criteria.</h3>
  {% elif wordsLength > 0 %}
    <div class="row justify-content-center">
      {% if wordsLength == 1 %}
        <p><b>Found: 1 result / {{ pages }} page</b></p>
      {% elif wordsLength > 1 and pages == 1 %}
        <p><b>Found: {{ wordsLength }} results / {{ pages }} page</b></p>
      {% else %}
        <p><b>Found: {{ wordsLength }} results / {{ pages }} pages</b></p>
      {% endif %}
    </div>

    <nav class="table-responsive mb-2s">
      <ul class="pagination mb-0 justify-content-center">
        <li class="page-item disabled">
         <a class="page-link" aria-disabled="true" id="first1">First</a>
        </li>

        <li class="page-item disabled">
         <a class="page-link" aria-disabled="true" id="previous1">Previous</a>
        </li>

        <div class="input-group mb-3" style="width: 60px">
          <input type="text" class="form-control" value="1" aria-describedby="basic-addon1" id="pageNumber1">
        </div>

        <li class="page-item">
          <a class="page-link" aria-disabled="true" id="next1">Next</a>
        </li>

        <li class="page-item">
         <a class="page-link" aria-disabled="true" id="last1">Last</a>
        </li>
      </ul>
    </nav>

    <div id="render">
    </div>


    <div class="row justify-content-center">
      {% if wordsLength == 1 %}
        <p><b>Found: 1 result / {{ pages }} page</b></p>
      {% elif wordsLength > 1 and pages == 1 %}
        <p><b>Found: {{ wordsLength }} results / {{ pages }} page</b></p>
      {% else %}
        <p><b>Found: {{ wordsLength }} results / {{ pages }} pages</b></p>
      {% endif %}
    </div>

    <nav class="table-responsive mb-2s">
      <ul class="pagination mb-0 justify-content-center">
        <li class="page-item disabled">
         <a class="page-link" aria-disabled="true" id="first2">First</a>
        </li>

        <li class="page-item disabled">
         <a class="page-link" aria-disabled="true" id="previous2">Previous</a>
        </li>

        <div class="input-group mb-3" style="width: 60px">
          <input type="text" class="form-control" value="1" aria-describedby="basic-addon1" id="pageNumber2">
        </div>

        <li class="page-item">
          <a class="page-link" aria-disabled="true" id="next2">Next</a>
        </li>

        <li class="page-item">
         <a class="page-link" aria-disabled="true" id="last2">Last</a>
        </li>
      </ul>
    </nav>


    <script>

        const WordListProc = {{ words|tojson }};
        const link = `/concordance/${document.getElementById('language1').value}/{{ translation_id }}/WORD/word/True`;

        render({{ words|tojson }}, 1, link);

        var pageValue = parseInt(pageNumber1.value);
        var pages = parseInt({{ pages }});

        pageNumber1.onchange = function() {
            if (parseInt(pageNumber1.value) || pageNumber1.value === '0') {
                if (parseInt(pageNumber1.value) > pages) {
                    pageValue = pages
                } else if (parseInt(pageNumber1.value) <= 0) {
                    pageValue = 1
                } else {
                    pageValue = parseInt(pageNumber1.value);
                };
                if (pageValue >= 0 && pageValue <= pages) {
                    render(WordListProc, pageValue, link);
                };
            };
        };

        pageNumber2.onchange = function() {
            if (parseInt(pageNumber2.value) || pageNumber2.value === '0') {
                if (parseInt(pageNumber2.value) > pages) {
                    pageValue = pages
                } else if (parseInt(pageNumber2.value) <= 0) {
                    pageValue = 1
                } else {
                    pageValue = parseInt(pageNumber2.value);
                };
                if (pageValue >= 0 && pageValue <= pages) {
                    render(WordListProc, pageValue, link);
                };
            };
        };

        previous1.onclick = function() {
            pageValue -= 1;
            render(WordListProc, pageValue, link);
        };

        previous2.onclick = function() {
            pageValue -= 1;
            render(WordListProc, pageValue, link);
        };

        next1.onclick = function() {
            pageValue += 1;
            render(WordListProc, pageValue, link);
        };

        next2.onclick = function() {
            pageValue += 1;
            render(WordListProc, pageValue, link);
        };

        first1.onclick = function() {
            pageValue = 1;
            render(WordListProc, pageValue, link);
        };

        first2.onclick = function() {
            pageValue = 1;
            render(WordListProc, pageValue, link);
        };

        last1.onclick = function() {
            pageValue = Object.keys({{ words|tojson }}).length;
            render(WordListProc, pageValue, link);
        };

        last2.onclick = function() {
            pageValue = Object.keys({{ words|tojson }}).length;
            render(WordListProc, pageValue, link);
        };
    </script>

  {% endif %}
  {% endif %}
</div>
{% endblock %}
