{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}


{% block form %}
  <form method="POST">
  {{form.csrf_token}}
  <div class="form-group">
    <div class="form-row">

      <div class="col">
        <select class="selectpicker" data-live-search="true" data-live-search-normalize="true" data-width="90px" data-style='' data-style-base='form-control form-control-sm' id="language1" name="language1">
          {% for language in languageChoices %}
            <option value="{{ language[0] }}">{{ language[1] }}</option>
          {% endfor %}
        </select>
      </div

      <div class="col">
        <select class="selectpicker" data-live-search="true" data-live-search-normalize="true" data-width="90px" data-style='' data-style-base='form-control form-control-sm' id="translation1" name="translation1">
      </div>

    </div>
  </div>

  <div class="form-group">
    {{ wtf.form_field(form.search, class="form-control form-control-sm") }}
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.caseSensitive, class="form-control form-control-sm")}}
    {{ wtf.form_field(form.searchOptions, class="form-control form-control-sm")}}
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col">
        {{ wtf.form_field(form.freqMin, class="form-control form-control-sm") }}
      </div>
      <div class="col">
        {{ wtf.form_field(form.freqMax, class="form-control form-control-sm") }}
      </div>
    </div>
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.orderOptions, class="form-control form-control-sm")}}
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.submit, class="form-control form-control-sm") }}
  </div>
  </form>

  <script src="{{url_for('static', filename='scripts.js')}}"></script>
  <script>

    lang_select.onchange = function() {
        populateList(lang_select, tran_select, 'translation1', lang_select.value);
    };

    {% if language_id is defined %}
        $('#language1').selectpicker('val', {{ language_id }});
        populateList(lang_select, tran_select, 'translation1', lang_select.value, [{{ translation_id }}]);
        $('#search').attr('value', {{ searchItem|tojson }});
        let caseSensitive = document.getElementById('caseSensitive');
        if (caseSensitive.hasAttribute('checked').toString() != "{{ case }}".toLowerCase()) {
            caseSensitive.toggleAttribute('checked');
        };
        $('input[value="{{ searchOption }}"]').attr('checked', 'checked');
    {% else %}
        populateList(lang_select, tran_select, 'translation1');
    {% endif %}

  </script>

{% endblock %}


{% block content %}
  {% if wordsLength == 0 %}
    <h3>Nothing found</h3>
    <p>Please, try to change search criteria</p>
  {% elif wordsLength > 0 %}
    <div class="row">
      <p>Number of words found: {{ wordsLength }}</p>
    </div>

    <nav class="table-responsive mb-2s">
      <ul class="pagination mb-0">
        {% if page == 1 %}
          <li class="page-item disabled">
        {% else %}
          <li class="page-item">
        {% endif %}
          <a class="page-link" href="{{ url_for('functions.wordList',
            translation_id=translation_id, searchItem=searchItem, searchOption=searchOption,
            case=case, freqMin=freqMin, freqMax=freqMax, order=order, page=page-1) }}" aria-label="Previous">
         <span aria-hidden="true">&laquo;</span>
       </a>
        </li>
        {% for i in range(pages) %}
          {% if i+1 == page %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="{{ url_for('functions.wordList',
                translation_id=translation_id, searchItem=searchItem, searchOption=searchOption,
                case=case, freqMin=freqMin, freqMax=freqMax, order=order, page=i+1) }}">{{ i+1 }} <span class="sr-only">(current)</span></a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('functions.wordList',
                translation_id=translation_id, searchItem=searchItem, searchOption=searchOption,
                case=case, freqMin=freqMin, freqMax=freqMax, order=order, page=i+1) }}">{{ i+1 }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page == pages %}
          <li class="page-item disabled">
        {% else %}
          <li class="page-item">
        {% endif %}
          <a class="page-link" href="{{ url_for('functions.wordList',
            translation_id=translation_id, searchItem=searchItem, searchOption=searchOption,
            case=case, freqMin=freqMin, freqMax=freqMax, order=order, page=page+1) }}" aria-label="Next">
         <span aria-hidden="true">&raquo;</span>
       </a>
        </li>
      </ul>
    </nav>

    <div class="row">
      <div class="col-1">
        <p>rank</p>
      </div>
      <div class="col-2">
        <p>word</p>
      </div>
      <div class="col-2">
        <p>frequency</p>
      </div>
    </div>
    {% for (rank, frequency, word) in words[page] %}
      <div class="row">
        <div class="col-1">
          <p>{{ rank }}</p>
        </div>
        <div class="col-2">
          <p><a href="{{ url_for('functions.concordance',  translation_id=translation_id, searchItem=word, searchOption='word', case=case) }}">{{ word }}</a></p>
        </div>
        <div class="col-2">
          <p>{{ frequency }}</p>
        </div>
      </div>
    {% endfor %}

    <nav class="table-responsive mb-2s">
      <ul class="pagination mb-0">
        {% if page == 1 %}
          <li class="page-item disabled">
        {% else %}
          <li class="page-item">
        {% endif %}
          <a class="page-link" href="{{ url_for('functions.wordList',
            translation_id=translation_id, searchItem=searchItem, searchOption=searchOption,
            case=case, freqMin=freqMin, freqMax=freqMax, order=order, page=page-1) }}" aria-label="Previous">
         <span aria-hidden="true">&laquo;</span>
       </a>
        </li>
        {% for i in range(pages) %}
          {% if i+1 == page %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="{{ url_for('functions.wordList',
                translation_id=translation_id, searchItem=searchItem, searchOption=searchOption,
                case=case, freqMin=freqMin, freqMax=freqMax, order=order, page=i+1) }}">{{ i+1 }} <span class="sr-only">(current)</span></a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('functions.wordList',
                translation_id=translation_id, searchItem=searchItem, searchOption=searchOption,
                case=case, freqMin=freqMin, freqMax=freqMax, order=order, page=i+1) }}">{{ i+1 }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page == pages %}
          <li class="page-item disabled">
        {% else %}
          <li class="page-item">
        {% endif %}
          <a class="page-link" href="{{ url_for('functions.wordList',
            translation_id=translation_id, searchItem=searchItem, searchOption=searchOption,
            case=case, freqMin=freqMin, freqMax=freqMax, order=order, page=page+1) }}" aria-label="Next">
         <span aria-hidden="true">&raquo;</span>
       </a>
        </li>
      </ul>
    </nav>
  {% endif %}

{% endblock %}
